@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
  /* background: #e74c3c; */
  font-family: 'Open Sans', Helvetica;
  direction: rtl;
}

.container {
  max-width: 98%;
  width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.logo-wrp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #476a8d;
  margin-bottom: 10px;
}

a {
  color: inherit;
}

.selector {
  font-size: 14px;
  text-align: right;
  margin: 1em;
}
select {
  font-size: 18px;
  min-width: 100px;
  padding: 0.3em;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.color-0 {
  background: #f39c12;
}
.color-1 {
  background: #3498db;
}

.color-2 {
  background: #9b59b6;
}

.color-3 {
  background: #e91e63;
}

.color-4 {
  background: #2ecc71;
}

.color-5 {
  background: #e74c3c;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  color: #fff;
  width: 100%;
  border-spacing: 3px;
}
table td {
  /* border-bottom: 1px solid #ccc; */
}
table tr:nth-child(2n) {
  background: #eff0f1;
}
table tr:nth-child(2n+3) {
  background: #fff;
}
table th, table td {
  /* padding: 1em; */
  width: 10em;
  vertical-align: top;
}

.days th, td.time {
  background: #34495e;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  padding: 0.8em;
}

td.time {
  width: 2em !important;
  font-weight: bold;
  vertical-align: middle;
  font-size: 0.8em;
}

.lesson {
  padding: 0.8em;
}

.links {
  margin-top: 1em;
  padding-top: 1em;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -moz-transition: ease 0.5s all;
  -o-transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  bottom: 90%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
