.container {
  max-width: 98%;
  width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.logo-wrp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #34495e88;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em;
}

.selector {
  font-size: 14px;
  text-align: right;
}
select {
  font-size: 18px;
  min-width: 100px;
  padding: 0.2em;
  border: 1px solid #ccc;
  margin-right: 10px;
  box-shadow: 0 1px 4px #00000088;
}

.links {
  font-size: 1.1em;
}
.links a {
  font-size: 1.2em;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 0 1px 4px #00000088;
}
.links a:hover {
  text-decoration: underline;
}

h1 {
  width: 100%;
  font-size: 2.5em;
  line-height: 2.2;
  text-shadow: 0 7px 8px #00000011,  0 2px 6px #00000022, 0 0 2px #000000cc;
}

.color-1  { background: #e53935; }
.color-2  { background: #d81b60; }
.color-3  { background: #8e24aa; }
.color-4  { background: #3949ab; }
.color-5  { background: #1e88e5; }
.color-6  { background: #039be5; }
.color-7  { background: #00acc1; }
.color-8  { background: #00897b; }
.color-9  { background: #43a047; }
.color-10 { background: #7cb342; }
.color-11 { background: #c0ca33; }
.color-12 { background: #fdd835; }
.color-13 { background: #ffb300; }
.color-14 { background: #fb8c00; }
.color-15 { background: #f4511e; }

table {
  font-size: 18px;
  color: #fff;
  background: #ffffff88;
  width: 100%;
  border-spacing: 3px;
  /* backdrop-filter: blur(10px); */
  box-shadow: 0 10px 30px #00000033;
}
table td {
  /* border-bottom: 1px solid #ccc; */
}
table tr:nth-child(2n) {
  background: #eff0f1;
}
table tr:nth-child(2n+3) {
  background: #fff;
}
table th, table td {
  /* padding: 1em; */
  width: 10em;
  vertical-align: top;
}

.days th, td.time {
  background: #34495e;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  padding: 0.7em;
}

td.time {
  width: 2em !important;
  font-weight: bold;
  vertical-align: middle;
  font-size: 0.8em;
}

.lesson {
  padding: 0.6em;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -moz-transition: ease 0.5s all;
  -o-transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  bottom: 90%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
