@import url(https://fonts.googleapis.com/css?family=Secular+One:300,400);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
}

body {
  direction: rtl;
  margin: 0;
  color: #fff;
  /* background-color: #fff;
  background-image:
  linear-gradient(270deg, transparent 129px, #abced4 129px, #abced4 131px, transparent 131px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 2.5em; */
  background: #89afb6;
  background-image: radial-gradient(circle at 50%, #89afb6, #4e8994);
  font-family: 'Secular One', Helvetica, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
